.todo-list-main .header input {
  font-size: 16px;
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 0px;
  border: none;
}

.todo-list-main .header input:focus {
  box-shadow: none;
}

button.button.icon-button {
  height: 40px;
  width: 45px;
  border-radius: 0;
  border: none;
  padding: none;
  transition: color .3s ease-out;
}

button.button.icon-button:hover {
  cursor: pointer;
}

/*button.button.icon-button.ibb {
  color: white;
  background-color: #bef2b8;
}

button.button.icon-button.ibb:hover {
  color: #bef2b8;
  background-color: #efefef;
}*/

button.button.icon-button.obb {
  color: white;
  background-color: #e58b9f;
}

button.button.icon-button.obb:hover {
  color: #e58b9f;
  background-color: #efefef;
}

.todo-list-main .todo-list {
  list-style: none;
  padding-left: 0;
  width: 352px;
} 

.todo-list-main .todo-list .todo-list-item {
  display: inline-flex;
  width: 440px;
  height: 40px;
  padding: 0;
  margin: 2px 0;
}

.todo-list-main .todo-list li {
  display: table-cell;
  width: inherit;
  height: inherit;
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 10px 10px 10px 15px;
}

button.button.icon-button.check {
  color: #dbdbdb;
}

button.button.icon-button.check:hover {
  color: #23d160;
}